@import "tailwindcss";
@plugin "tailwindcss-animate";
@custom-variant dark (&:is(.dark *));

@theme {
  /* Neutral Palette */
  --color-neutral-25: #fcfaf7; /* Used for text/bg */
  --color-neutral-50: #faf3ea; /* Base background */
  --color-neutral-100: #f7efe3; /* Light bg */
  --color-neutral-200: #f5eadc; /* Hover states */
  --color-neutral-300: #ede1d1; /* Borders */
  --color-neutral-400: #e3d4bf; /* Secondary text */
  --color-neutral-500: #d9c9b4; /* Icons */
  --color-neutral-600: #c2b39f; /* Disabled states */
  --color-neutral-700: #a69986; /* Primary text */
  --color-neutral-800: #877c6c; /* Secondary headings */
  --color-neutral-900: #6b6255; /* Headings */

  /* Primary Palette */
  --color-primary-100: #d9f2ce;
  --color-primary-500: #00b360; /* Buttons/Accents */
  --color-primary-600: #038247; /* Hover states */
  --color-primary-700: #0d3c26; /* Dark accents */
  --color-primary-900: #051f13; /* Text */

  /* Error Palette */
  --color-error-main: #d42600; /* Error states */
  --color-error-disabled: #efb6a4; /* Disabled errors */
  --color-error-secondary: #fe2828; /* Secondary errors */

  /* Special Cases */
  --color-card-background: #c3b9ab; /* Card bg */
  --color-code-background: #343533; /* Code blocks */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-alpina: var(--font-alpina);
  --font-alpina-condensed: var(--font-alpina-condensed);
  --font-oracle: var(--font-oracle);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --background: 60 30% 98%;
  --foreground: 120 15% 20%;
  --card: 60 30% 96%;
  --card-foreground: 120 15% 20%;
  --popover: 60 30% 98%;
  --popover-foreground: 120 15% 20%;
  --primary: 120 15% 20%;
  --primary-foreground: 60 30% 98%;
  --secondary: 60 30% 94%;
  --secondary-foreground: 120 15% 20%;
  --muted: 60 30% 94%;
  --muted-foreground: 120 15% 40%;
  --accent: 60 30% 94%;
  --accent-foreground: 120 15% 20%;
  --destructive: 0 85% 60%;
  --destructive-foreground: 60 30% 98%;
  --border: 60 30% 88%;
  --input: 60 30% 88%;
  --ring: 120 15% 20%;
  --radius: 0.5rem;
}

.dark {
  --background: 120 15% 10%;
  --foreground: 60 30% 98%;
  --card: 120 15% 12%;
  --card-foreground: 60 30% 98%;
  --popover: 120 15% 10%;
  --popover-foreground: 60 30% 98%;
  --primary: 60 30% 90%;
  --primary-foreground: 120 15% 10%;
  --secondary: 120 15% 15%;
  --secondary-foreground: 60 30% 98%;
  --muted: 120 15% 15%;
  --muted-foreground: 60 30% 70%;
  --accent: 120 15% 15%;
  --accent-foreground: 60 30% 98%;
  --destructive: 0 85% 60%;
  --destructive-foreground: 60 30% 98%;
  --border: 120 15% 20%;
  --input: 120 15% 20%;
  --ring: 60 30% 90%;
}

body {
  @apply bg-background text-foreground;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #d1cbb7;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #b8b29e;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .rounded-10 {
    border-radius: 10px;
  }

  .rounded-20 {
    border-radius: 20px;
  }

  .shadow-card,
  .shadow-input {
    --tw-shadow: 0px 12px 32px -6px #e4dbc8, 0px 2px 16px -6px #0000001a;
    --tw-shadow-colored: 0px 12px 32px -6px var(--tw-shadow-color),
      0px 2px 16px -6px var(--tw-shadow-color);
  }

  .shadow-card,
  .shadow-input,
  .shadow-lg {
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
      var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  }

  .text-h-xl-mobile {
    font-size: 3rem;
    line-height: 2.85rem;
    letter-spacing: -0.96px;
    font-weight: 350;
  }
  .text-h-l {
    font-size: 2.5rem;
    line-height: 2.5rem;
    letter-spacing: -0.6px;
    font-weight: 350;
  }
  .text-h-l-mobile {
    font-size: 2.25rem;
    line-height: 2.25rem;
    letter-spacing: -0.54px;
    font-weight: 350;
  }
  .text-h-m {
    font-size: 2.125rem;
    line-height: 2.125rem;
    letter-spacing: -0.68px;
    font-weight: 350;
  }
  .text-h-s {
    font-size: 1.375rem;
    line-height: 1.375rem;
    letter-spacing: -0.33px;
    font-weight: 350;
  }
  .text-body-m-mobile {
    font-size: 1.125rem;
    line-height: 1.575rem;
    letter-spacing: -0.36px;
    font-weight: 350;
  }
  .text-body-s {
    font-size: 1rem;
    line-height: 1.4rem;
    letter-spacing: -0.16px;
    font-weight: 350;
  }
  .text-action-l {
    font-size: 1.375rem;
    line-height: 1.5125rem;
    letter-spacing: -0.36px;
    font-weight: 400;
  }
  .text-action-m {
    font-size: 1.125rem;
    line-height: 1.2375rem;
    letter-spacing: -0.36px;
    font-weight: 400;
  }
  .text-action-s {
    font-size: 0.875rem;
    line-height: 1.05rem;
    letter-spacing: -0.28px;
    font-weight: 400;
  }
  .text-label {
    font-size: 0.875rem;
    line-height: 1.225rem;
    letter-spacing: -0.24px;
    font-weight: 350;
  }
  .text-label-s {
    font-size: 0.75rem;
    line-height: 1.05rem;
    letter-spacing: -0.2px;
    font-weight: 350;
  }
  .text-code {
    font-size: 0.875rem;
    line-height: 1.35625rem;
    font-weight: 350;
  }
  .text-code-inline {
    font-size: 0.875rem;
    line-height: 0.875rem;
    letter-spacing: -0.025em;
    font-weight: 350;
  }
}

@layer components {
  /* .t-action-s and .t-label share the same font settings */
  .t-action-s,
  .t-label {
    font-family: var(--font-oracle), ui-sans-serif, system-ui, -apple-system,
      BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial,
      "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 0.875rem; /* 14px */
  }

  /* Additional styles for .t-label */
  .t-label {
    line-height: 1.225rem; /* 19.6px */
    letter-spacing: -0.24px;
    font-weight: 350;
  }

  /* Styles for .t-label-s */
  .t-label-s {
    font-family: var(--font-oracle), ui-sans-serif, system-ui, -apple-system,
      BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial,
      "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 0.75rem; /* 12px */
    line-height: 1.05rem; /* 16.8px */
    letter-spacing: -0.2px;
    font-weight: 350;
  }

  /* Styles for .t-code */
  .t-code {
    line-height: 1.35625rem; /* 21.7px */
  }

  /* Add new typography styles */
  .t-heading-xl {
    font-family: var(--font-alpina-condensed), var(--font-alpina), ui-serif,
      Georgia, Cambria, "Times New Roman", Times, serif;
    font-size: 3rem;
    line-height: 2.85rem;
    letter-spacing: -0.96px;
    font-weight: 350;
  }

  @media (min-width: 1024px) {
    .t-heading-xl {
      font-size: 4rem;
      line-height: 3.8rem;
      letter-spacing: -0.96px;
      font-weight: 350;
    }
  }

  .t-heading-l {
    font-family: var(--font-alpina-condensed), var(--font-alpina), ui-serif,
      Georgia, Cambria, "Times New Roman", Times, serif;
    font-size: 2.25rem;
    line-height: 2.25rem;
    letter-spacing: -0.54px;
    font-weight: 350;
  }

  @media (min-width: 1024px) {
    .t-heading-l {
      font-size: 3rem;
      line-height: 2.85rem;
      letter-spacing: -0.72px;
      font-weight: 350;
    }
  }

  .t-heading-m {
    font-family: var(--font-alpina-condensed), var(--font-alpina), ui-serif,
      Georgia, Cambria, "Times New Roman", Times, serif;
    font-size: 1.75rem;
    line-height: 1.75rem;
    letter-spacing: -0.56px;
    font-weight: 350;
  }

  @media (min-width: 1024px) {
    .t-heading-m {
      font-size: 2.25rem;
      line-height: 2.25rem;
      letter-spacing: -0.54px;
      font-weight: 350;
    }
  }

  .t-heading-s {
    font-family: var(--font-alpina), ui-serif, Georgia, Cambria,
      "Times New Roman", Times, serif;
    font-size: 1.1875rem;
    line-height: 1.30625rem;
    letter-spacing: -0.19px;
    font-weight: 400;
  }

  .t-body-chat {
    font-family: var(--font-alpina), ui-serif, Georgia, Cambria,
      "Times New Roman", Times, serif;
    font-size: 1.1875rem;
    line-height: 1.721875rem;
    letter-spacing: -0.19px;
    font-weight: 350;
  }

  @media (min-width: 1024px) {
    .t-body-chat {
      font-size: 1.375rem;
      line-height: 1.99375rem;
      letter-spacing: -0.22px;
      font-weight: 350;
    }
  }

  @media (min-width: 1536px) {
    .t-body-chat {
      font-size: 1.5rem;
      line-height: 2.175rem;
      letter-spacing: -0.24px;
      font-weight: 350;
    }
  }

  .t-body-m {
    font-family: var(--font-oracle), ui-sans-serif, system-ui, -apple-system,
      BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial,
      "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1.125rem;
    line-height: 1.575rem;
    letter-spacing: -0.36px;
    font-weight: 350;
  }

  @media (min-width: 1024px) {
    .t-body-m {
      font-size: 1.25rem;
      line-height: 1.75rem;
      letter-spacing: -0.4px;
      font-weight: 350;
    }
  }

  .t-body-s {
    font-family: var(--font-oracle), ui-sans-serif, system-ui, -apple-system,
      BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial,
      "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 0.875rem;
    line-height: 1.225rem;
    letter-spacing: -0.14px;
    font-weight: 350;
  }

  @media (min-width: 1024px) {
    .t-body-s {
      font-size: 1.0625rem;
      line-height: 1.4875rem;
      letter-spacing: -0.34px;
      font-weight: 350;
    }
  }

  .t-action-l {
    font-family: var(--font-oracle), ui-sans-serif, system-ui, -apple-system,
      BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial,
      "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1.375rem;
    line-height: 1.5125rem;
    letter-spacing: -0.36px;
    font-weight: 400;
  }

  .t-code-inline {
    font-family: var(--font-mono), ui-monospace, SFMono-Regular, Menlo, Monaco,
      Consolas, "Liberation Mono", "Courier New", monospace;
    font-size: 0.875rem;
    line-height: 0.875rem;
    letter-spacing: -0.025em;
    font-weight: 350;
  }

  @media (min-width: 768px) {
    .t-code-inline {
      font-size: 1rem;
      line-height: 1rem;
      font-weight: 350;
    }
  }
}
